@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");

:root {
  --color-bg-primary: #e6e6e6;
  --color-bg-secondary: #90ee90;
  --color-bg-white: #fff;

  --color-border-blue: #3485fb;
  --color-border-light: #d6d6d6;

  --color-btn-blue: #3485fb;
  --color-btn-white: #fff;

  --color-font-primary: #454545;
  --color-font-secondary: #0caf1d;
  --color-font-white: #fff;
  --color-font-blue: #3485fb;
  --color-font-placeholder: #d6d6d6;

  --color-success: #00c851;
  --color-warning: #ffbb33;
  --color-danger: #ff4444;
  --color-info: #33b5e5;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans";
}

html,
body {
  background-color: var(--color-bg-primary);
}

main {
  padding: 0 15px;
}

/* generic styles */
.ec-container {
  width: 100%;
  margin: 0 auto;
  max-width: 960px;
}

.ec-line-top {
  border-top: 1.5px solid var(--color-border-light);
}

.ec-line-bottom {
  border-bottom: 1.5px solid var(--color-border-light);
}

.ec-margin-bottom-20px {
  margin-bottom: 20px;
}

.ec-margin-top-20px {
  margin-top: 20px;
}
/* generic styles */

/* header and nav syles */
header {
  display: flex;
  align-items: center;
  background-color: var(--color-bg-secondary);
  height: 70px;
  padding: 0 15px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--color-font-primary);
}

nav a {
  font-size: 16px;
  font-weight: 700;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
  text-transform: uppercase;
}
/* header and nav syles */

/* card styles */
.ec-card-general {
  background-color: var(--color-bg-white);
  border-radius: 8px;
  border: 1.5px solid var(--color-border-light);
}
/* card styles */

/* button styles */
.ec-btn-container {
  width: 100%;
  display: grid;
  grid-gap: 20px;
}

.ec-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  height: 40px;
  width: 100%;
}

.ec-btn-comprar,
.ec-btn-finalizar,
.ec-btn-entrar {
  color: var(--color-font-white);
  background-color: var(--color-btn-blue);
  border: none;
}

.ec-btn-voltar,
.ec-btn-continuar,
.ec-btn-show-more {
  color: var(--color-btn-blue);
  background-color: var(--color-bg-white);
  border: 1.5px solid var(--color-border-blue);
}

.ec-btn-show-more {
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  padding: 15px;
}
/* button styles */

/*search styles*/
.ec-search-bar {
  display: flex;
  flex-direction: row;
  height: 50px;
  color: var(--color-font-primary);
}

.ec-search-bar input,
.ec-search-bar button {
  border: 1.5px solid var(--color-border-light);
  background-color: var(--color-bg-white);
}

.ec-search-bar button[type="submit"] {
  border-right: none;
  border-radius: 8px 0 0 8px;
}

.ec-search-bar button[type="reset"] {
  border-left: none;
  border-radius: 0 8px 8px 0;
}
.ec-search-bar button {
  color: var(--color-font-primary);
  width: 50px;
}

.ec-search-bar input {
  color: var(--color-font-primary);
  padding: 5px 10px;
  font-size: 18px;
  border-right: none;
  border-left: none;
  width: calc(100% - 100px);
}

.ec-search-bar input:focus {
  outline: none; /* remover a caixa de seleção em volta do campo input ao clicar */
}

.ec-search-bar input::placeholder {
  color: var(--color-font-placeholder);
  text-align: left;
}
/*search styles*/

/*form styles */

.ec-form-general {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
}

.ec-form-general h2 {
  font-size: 18px;
  color: var(--color-font-primary);
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
}

.ec-form-inputs-container {
  width: 100%;
  display: grid;
  grid-gap: 20px;
  margin: 20px 0;
}

.ec-form-input {
  width: 100%;
  height: 40px;
  padding: 0 20px;
  font-size: 18px;
  border: 1px solid var(--color-border-light);
  border-radius: 8px;
}

.ec-form-input:focus {
  outline: none;
}

.ec-form-error {
  color: var(--color-danger);
  padding: 5px 4px;
  font-size: 12px;
}

.ec-input-error {
  border: 1px solid var(--color-danger);
}

/*form styles */

@media (min-width: 576px) {
  .ec-btn-container {
    width: 240px;
  }

  .ec-search-bar button {
    width: 150px;
  }

  .ec-form-general h2 {
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  .ec-btn-show-more {
    width: 260px;
  }
}
